<template>
<div>
    <h1 ref="dom-element">This is a fantastic {{day}}</h1>
</div>
</template>

<script>
export default {
  data() {
    return {
      day: 'Sunday',
      counter: 0
    }
  },
  /*Vue life cycle hooks are not depend on declared position
    Here in this example string will show which hook is executed and 
    the variable day will show the state of it.
  */ 
  beforeCreate() {
    console.warn('BeforeCreated life cycle hook',this.day) //This life cycle hook will run before data initialization
  },
  created() {
    setInterval(() => {
      this.counter++
    }, 1000)
    console.warn('Created life cycle hook',this.day) //Here day variable will show sunday because created hook executed 
                                                     //after data initialazation
  },
  beforeMount() {
    console.warn('beforeMount life cycle hook',this.$el) //beforemount will call before HTML render
  },
  mounted() {
    console.warn('mounted life cycle hook',this.$el) //mounted will call after HTML render
  },
  beforeUpdate() {
    console.log('beforUpdate life cycle hook',this.counter) //this calls before any updation in dom
  },
  updated() {
    console.log(+this.$refs['dom-element'].textContent === this.counter) //this calls after any updation in dom
  },
  beforeDestroy() {
    alert('beforeDestroy life cycle hook') //this calls before the dom is destroyed
  },
  destroyed() {
    alert('destroyed life cycle hook') //this calls after the dom is destroyed
  }
}
</script>